
<div class="row">
  <div class="col-lg-12 col-centered">
    <timer
            countdown="900"
            max-time-unit="'minute'"
            interval="1000"
            finish-callback="finished()">
      <h1>{{mminutes}} Minuten {{sseconds}} Sekunden</h1>
      <div class="progress">
        <div class="progress-bar progress-bar-success progress-bar-striped active {{displayProgressActive}}" role="progressbar" aria-valuemin="0" aria-valuemax="150" style="width:{{progressBar}}%">
        </div>
      </div>
    </timer>
  </div>
</div>


<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
    <md-card id="{{drink.id}}" class="col-sm-3 cards" md-theme-watch ng-repeat="drink in allDrinks">
      <md-card-header>
        <md-card-avatar>
          <span style="font-size:16px;" class="glyphicon glyphicon-menu-right"></span>
        </md-card-avatar>
        <md-card-header-text>
          <span class="md-title">{{drink.title}}</span>
          <span class="md-subhead">Preis: {{drink.price.toFixed(2)}} €</span>
        </md-card-header-text>
      </md-card-header>
      <img src="{{drink.image}}" class="md-card-image" ng-click="drink.showModal = true" />

      <modal visible="drink.showModal" on-hide="modalHide(drink)">
        <modal-header title="{{drink.title}}"></modal-header>
        <modal-body>
          <h5>{{(drink.price * bookingCounter).toFixed(2)}}€</h5>
          <img src="{{drink.image}}" class="md-card-image" />
          <div class="input-group">
          <span class="input-group-btn">
            <md-button ng-click="countAdd()">
              <span style="font-size:48px;"  class="glyphicon glyphicon-thumbs-up"></span>
            </md-button>
          </span>
            <input type="text" class="form-control input-number" ng-model="bookingCounter">
            <span class="input-group-btn">
              <md-button ng-click="countWithdraw()">
            <span style="font-size:48px;" class="glyphicon glyphicon-thumbs-down"></span>
          </md-button>
            </span>
          </div>
        </modal-body>
        <modal-footer>
          <button class="btn-large btn-success bookButton" ng-click="bookIt(drink)">Save</button>
        </modal-footer>
      </modal>
    </md-card>
  </div>

</div>
<div class="row">
  <button ng-click="calculate()">Calculate!</button>
</div>

<!--
<h1>Übersichts-Tabelle</h1>

<table class="table striped">
  <tr ng-repeat="drink in drinks">
    <td>
      <h2>{{drink}}</h2>
    </td>
  </tr>
</table>

<button ng-click="open('beer')">OPEN BEER-MODAL</button>
-->