<timer
  countdown="900"
  max-time-unit="'minute'"
  interval="1000"
  finish-callback="finished()">
  <h1>{{mminutes}} Minuten {{sseconds}} Sekunden</h1>
</timer>

<br>

<!--<md-card id="beer" class="col-lg-3" ng-click="count('beer')">-->
<md-card id="beer" class="col-lg-3" ng-click="open('beer')">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Bier</span>
      <span class="md-subhead">Ottakringer</span>
    </md-card-title-text>
    <md-card-title-media>
      <div class="md-media-lg card-media">
        <img src="../images/bier.png" class="cardImage"/>
      </div>
    </md-card-title-media>
  </md-card-title>
  <md-card-actions layout="row" layout-align="center">
    <p>Derzeitiger Preis: {{beerPrice}}€</p>
    <p ng-if="newBeerPrice">Aktualisierter Preis: {{newBeerPrice}}€</p>
  </md-card-actions>
</md-card>

<!--<md-card id="vodka" class="col-lg-offset-1 col-lg-3" ng-click="count('vodka')">-->
<md-card id="vodka" class="col-lg-offset-1 col-lg-3" ng-click="open('vodka')">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Vodka</span>
      <span class="md-subhead">Orange</span>
    </md-card-title-text>
    <md-card-title-media>
      <div class="md-media-lg card-media">
        <img src="../images/vodka.png" class="cardImage"/>
      </div>
    </md-card-title-media>
  </md-card-title>
  <md-card-actions layout="row" layout-align="center">
    <p>Derzeitiger Preis: {{vodkaPrice}}€</p>
    <p ng-if="newVodkaPrice">Aktualisierter Preis: {{newVodkaPrice}}€</p>
  </md-card-actions>
</md-card>

<!--<md-card id="whiskey" class="col-lg-offset-1 col-lg-3" ng-click="count('whiskey')">-->
<md-card id="whiskey" class="col-lg-offset-1 col-lg-3" ng-click="open('whiskey')">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Whiskey</span>
      <span class="md-subhead">Cola</span>
    </md-card-title-text>
    <md-card-title-media>
      <div class="md-media-lg card-media">
        <img src="../images/whiskey.png" class="cardImage"/>
      </div>
    </md-card-title-media>
  </md-card-title>
  <md-card-actions layout="row" layout-align="center">
    <p>Derzeitiger Preis: {{whiskeyPrice}}€</p>
    <p ng-if="newWhiskeyPrice">Aktualisierter Preis: {{newWhiskeyPrice}}€</p>
  </md-card-actions>
</md-card>

<button ng-click="calculate()">Calculate!</button>






<!-- TRY THE DRINK-DIVS WITH NG-REPEAT-->
<!--
<br>
<br>
<div ng-repeat="drink in drinks">
  <md-card id="{{drink.name}}" class="col-lg-3" ng-click="count(drink.name)">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{drink.name}}</span>
        <span class="md-subhead">Ottakringer</span>
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-lg card-media">
          <img src="../images/bier.png" class="cardImage"/>
        </div>
      </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="center">
      <p>Derzeitiger Preis: {{beerPrice}}€</p>
    </md-card-actions>
  </md-card>
</div>
-->

<h1>Übersichts-Tabelle</h1>

<table class="table striped">
  <tr ng-repeat="drink in drinks">
    <td>
      <h2>{{drink}}</h2>
    </td>
  </tr>
</table>
